@model Account
@{
    ViewData["Title"] = "Borrar cuenta";
}

<h1>Eliminar cuenta</h1>
<h5>Estas seguro que quieres eliminar la cuenta @Model.Name</h5>

<div>  
    <form asp-action="Delete">
    <input type="hidden" asp-for="Id">
    <input type="hidden" asp-for="AccountTypeId">
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>