@model Category

@{
    ViewData["Title"] = "Editar categoria";
}

<h1>Editar categoria</h1>

<h5>Editar categoria @Model.Name</h5>
</h5>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Edit">
    <div class="mb-3 bg-gray">
        <label asp-for="Name" class="form-label">Nombre*</label>
        <input  asp-for="Name" type="text" placeholder="Nombre" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3 bg-gray">
        <label asp-for="OperationTypeId" class="form-label">Tipo de operacion*</label>
        <select class="form-select" asp-for="OperationTypeId" asp-items="Html.GetEnumSelectList<OperationTypeId>()"></select>
    </div>
    <button class="btn btn-primary" type="submit">Enviar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}