@model Transaction
@{
    ViewData["Title"] = "Transacciones";
}
<h1>Transacciones</h1>
<h5>Aqui encontraras el resumen de tus transacciones</h5>

<div class="container text-center">
<a asp-action="Create" class="btn btn-primary">Crear</a>
</div>
